#!/bin/bash

ROOT_PASSWORD="SOME_PASSWORD"
DEPLOY_PASSWORD="SOME_PASSWORD"
ROOT_EMAIL="root@example.com"
OPS_EMAIL="forward@example.com"
VIRTUAL_EMAIL="youremail@gmail.com"
DOMAIN="example.com"
WILDCARD_DOMAIN="*.example.com"
APPLICATION="admin"
